body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 5vh;
}

.top-content {
    text-align: center;
    font-weight: bold;
}

.bottom-content {
    display: flex;
    column-gap: 2vh;
}

.link-item {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.link-item img {
    width: 24px;
    height: 24px;
}

.link-item a {
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-fill-mode: forwards;
}

.fade-in:nth-child(1) {
    animation-delay: 0.25s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.5s;
}

.enlarge {
    transition: transform 0.5s ease;
}

.enlarge:hover {
    transform: scale(1.1);
}